/* =============
    Demo
============= */

#flames{
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-areas: ".   draw   .";
    height: 100vh;

    >div{
        grid-area: draw;
        display: flex;
        justify-content: center;
        align-items: center;

        
    }
}