/* =============
    Demo
============= */
#logo-container {
  display: grid;
  grid-template-columns: auto 50% auto;
  grid-template-areas: ". maintablet .";
}
#logo-container > div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: maintablet;
}
#logo-container > div svg {
  width: 100%;
  overflow: hidden;
}
