/* =============
    Demo
============= */

#logo-container{
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-areas: ". maintablet .";

    >div{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: maintablet;
       

        svg{
            width: 100%;
            overflow: hidden;
        }
    }
}